# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Streamlit cache
.streamlit/secrets.toml

# Python cache
.pytest_cache/

.agents/